<div id="projects" class="container-fluid min-vh-100 d-flex flex-column bg-light">

    <!-- <div class="row justify-content-center align-items-center bg-dark text-white py-4 shadow">
      <div class="col-12 text-center">
        <h1 class="mb-0">
          <i class="fas fa-ruler-combined me-2"></i> Conversor de Unidades
        </h1>
      </div>
    </div> -->
  
    <!-- Contenido principal con botones -->
    <div class="row flex-grow-1 justify-content-center align-items-center text-center text-dark">
      <div class="col-md-8 col-lg-6">
  
        <div class="row justify-content-center mt-5">
  
          <!-- Botón Conversor -->
          <div class="col-10 col-md-6 col-lg-5 mb-4">
            <a [routerLink]="['/conversor-project']" class="btn btn-outline-dark shadow w-100 py-3 rounded">
              <i class="fas fa-balance-scale me-2"></i> Conversores
            </a>
          </div>
  
          <!-- Botón Patrones -->
          <div class="col-10 col-md-6 col-lg-5 mb-4">
            <a [routerLink]="['/']" class="btn btn-outline-dark shadow w-100 py-3 rounded">
              <i class="fas fa-stream me-2"></i> aaaaaaaaa
            </a>
          </div>
  
        </div>
      </div>
    </div>
  
    
  </div>