<div class="row h-100 m-0 bg-dark align-items-center justify-content-center">
    <div class="col">
      <div class="row h-25 m-0 bg-dark align-items-center justify-content-center">
  
        <!-- Imagen izquierda -->
        <div class="col-xl-4 col-lg-4 col-md-4 d-none d-md-block pl-0">
          <div class="card bg-dark text-white">
            <img class="card-img w-100" src="assets/images/front-view-of-flask-science-concept.jpg" alt="Imagen izquierda">
          </div>
        </div>
  
        <!-- Formulario -->
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
          <app-formulario-patron></app-formulario-patron>
        </div>
  
        <!-- Imagen derecha -->
        <div class="col-xl-4 col-lg-4 col-md-4 d-none d-md-block pr-0">
          <div class="card bg-dark text-white">
            <img class="card-img w-100 h-50" src="assets/images/pencil-and-rule.jpg" alt="Imagen derecha">
          </div>
        </div>
  
      </div>
    </div>
  </div>
  