<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow pb-4 fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand px-2" [routerLink]="['/conversor-project']">
      <i class="fas fa-ruler-combined me-2"></i> ConversorApp
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav" #navbarCollapse>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item mx-2">
          <a class="nav-link" [routerLink]="['/']" (click)="navbarCollapse.classList.remove('show')">Portfolio</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" [routerLink]="['/conversor-project']" (click)="navbarCollapse.classList.remove('show')">Inicio</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" [routerLink]="['/conversor-project/conversor-unidades']"
            (click)="navbarCollapse.classList.remove('show')">Conversor Unidades</a>
        </li>
        <li class="nav-item dropdown mx-2">
          <a class="nav-link dropdown-toggle" href="#" id="conversorPatronesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Conversor Patrones
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="conversorPatronesDropdown">
            <li>
              <a class="dropdown-item" [routerLink]="['mostrar-todos-patrones']" (click)="navbarCollapse.classList.remove('show')">
                Mostrar todos los Certificados
              </a>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/conversor-project/conversor-patrones']" (click)="navbarCollapse.classList.remove('show')">
                Obtener Incertidumbre
              </a>
            </li>
            <li>
              <a class="dropdown-item" *ngIf="isAdmin" [routerLink]="['/conversor-project/nuevo-patron']" (click)="navbarCollapse.classList.remove('show')">
                Añadir certificado
              </a>
            </li>
            <li>
              <a class="dropdown-item" *ngIf="isAdmin" [routerLink]="['/conversor-project/update']" (click)="navbarCollapse.classList.remove('show')">
                Actualizar certificado
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>