/* Tamaños de fuente para el título */
.titulo {
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
  
  @media screen and (max-width: 576px) {
    .titulo {
      font-size: 60px;
    }
  }
  
  @media screen and (min-width: 576px) {
    .titulo {
      font-size: 70px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .titulo {
      font-size: 150px;
    }
  }